<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<h1><br>&nbsp;&nbsp;Welcome to Crank-it-up!</h1>
<nav id="buttons">
  <button id = 'button0' class="closebtn" (click)="closeNav()">&times;</button>
  <button  id= 'button1' routerLink = '/calc'>Draw</button><br>
  <button id= 'button3' routerLink = '/table'>Table</button><br>
  <button id= 'button2' routerLink = '/equations'>Equations</button><br>
</nav>
<div id="main">
  <button id = "oBtn" class="openbtn" (click)="openNav()">&#9776;</button>
</div>
<router-outlet></router-outlet>
</body>